<a href="https://colab.research.google.com/github/Devilisharka/Data-Science-Assignments/blob/main/19th_August_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **x, y = y, x: It utilizes tuple unpacking to simultaneously assign new values to x and y. The right side creates a tuple (y, x), and then the values are unpacked and assigned to x and y. As a result, the values of x and y are swapped without needing a temporary variable**.

In [1]:
x=10
y=20
x,y=y,x
print(x)
print(y)

20
10

**2. Since every input is in string format, first i convert it to float and then perform the area using the formula**

In [4]:
length= float(input('Enter length: '))
breadth= float(input('enter breadth: '))
area= length *  breadth
print(area)

Enter length: 12
enter breadth: 23
276.0

3. **Again by converting the input into float and performing the conversion using the formula, i use the round function to round the answer upto 2 places**

In [2]:
c= float(input("Enter Temperature in Celcius: "))
f= (c * (9/5)) + 32
print(round(f,2))

Enter Temperature in Celcius: 37
98.6

**4. By using the len function, we can find any string length**

In [3]:
x= input("Enter a string: ")
print(len(x))

Enter a string: Hello, world!
13

**5: First, using the count function, i store the occurences of each vowels in each of the variables, then by adding them together and storing them in a single variable, i got the required answer**

In [4]:
x= input("Enter a sentence: ")
a= x.count('a')
e= x.count('e')
i= x.count('i')
o= x.count('o')
u= x.count('u')
t_v= a+e+i+o+u
print("Total vowels: ", t_v)

Enter a sentence: Hello world
Total vowels:  3

In [9]:
x= input("Enter a string: ")
y= x[::-1]
print(y)

Enter a string: hello world
dlrow olleh

7. **By utilising string slicing like in the previous question, i checked if the reversed word is equal to the original string using if statement to get the answer**

In [12]:
x= input("Enter a string: ")
y= x[::-1]
if(x==y):
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string: radar
Palindrome

8. **By using the replace function, i replace the spaces with no spaces.**

In [16]:
x= input("Enter a string: ")
y= x.replace(" ", "")
print(y)

Enter a string: Hello World
HelloWorld